@mixin fontFamily($familyName, $nameFolder) {
  @font-face {
    font-family: "#{$familyName}";
    src: url("../fonts/" + $nameFolder + "/" + $nameFolder + ".eot");
    src: url("../fonts/" + $nameFolder + "/" + $nameFolder + ".eot?#iefix") format("embedded-opentype"), 
         url("../fonts/" + $nameFolder + "/" + $nameFolder + ".woff") format("woff"), 
         url("../fonts/" + $nameFolder + "/" + $nameFolder + ".svg#" + $nameFolder) format("svg");
    font-weight: normal;
    font-style: normal;
  }
}

@mixin br($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}


@mixin bg($wayBg) {
	background-image: url("#{$wayBg}");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}