/* ______________header______________ */
.header {
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#efefef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
	height: 145px;
	@extend %clearfix;
	padding: 0 10px;
}

.header__left {
	float: left;
	width: 65%;
	margin-bottom: 14px;
}

.logo { 
	margin-top: 10px;
    width: 170px;
    height: 80px;
	@include bg("../images/logo.jpg");
	float: left;
	margin-right: 50px;
}

.logo__pic {
	position: absolute;
	left: -99999px;
}

.logo__link {
	display: block;
}

.contacts-header {
	float: left;
	width: 55%;
	padding-top: 14px;
}

.contacts__number {
	font-size: 0;
	font-style: italic;
	margin-bottom: 18px;
}

.contacts__phone--small {
	font-size: 23px;
	font-weight: normal;
}

.contacts__phone {
	display: inline-block;
	font-size: 35px;
	font-weight: bold;
	color: $darkText;
	vertical-align: top;
	line-height: 1;
}

.contacts__callback {
	display: inline-block;
	font-size: 13px;
	color: $blueText;
	margin-left: 10px;
	vertical-align: top;
}

.contacts__link {
	background: url("../images/border.png") 0 bottom repeat-x;
	text-decoration: none;
}

.search {
    width: 78%;
    height: 25px;
    display: inline-block;
    line-height: 30px;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 0;
    transform: skew(-20deg);
    background: #fff;
    box-shadow: inset 1px 1px 1px 1px #ebebeb;
    margin-left: -10px;
}

.search__input {
	outline: none;
	border:  none;
	margin-left: 15px;
	position: absolute;
	-webkit-transform: skew(20deg);
    top: 50%;
    transform: translate(0, -50%);
}

.search__button {
	width: 53px;
	height: 23px;
	position: absolute;
    top: 1px;
    right: 1px;
	border: 1px solid #e4e4e4;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #eceded 37%, #f6f6f6 53%, #ffffff 100%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#eceded 37%,#f6f6f6 53%,#ffffff 100%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#eceded 37%,#f6f6f6 53%,#ffffff 100%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	border-radius: 5px 0px 5px 0px;
/* 	transform: skewX(-20deg) translate(0,-50%); */
	height: 21px;
	cursor: pointer;
}

.search__button:after {
	display: block;
	content: "";
	-webkit-transform: skew(20deg);
	background-image: url("../images/arrow.png");
	background-position: center center;
	background-repeat: no-repeat;
	border: none;
	width: 30px;
	height: 23px;
	position: absolute;
	right: 10px;
	cursor: pointer;
}

.search__button--hidden {
	position: absolute;
	right: 0;
	left: 0;
	opacity: 0;
	height: 23px;
}

.help-online {
	float: right;
}

.help {
	width: 88px;
	height: 88px;
	@include br(5px);
	margin-top: 10px;
	border: 1px solid $greenText;
	position: relative;
}

.help:after {
	display: block;
	content: "";
	background-image: url("../images/green_circle.jpg");
	width: 9px;
	height: 9px;
	position: absolute;
	right: 1px;
	top: 1px;
}

.help__img {
	position: absolute;
	top: -8px;
	right: -5px;
}

.help__title {
	font-weight: bold;
	color: $darkText;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	line-height: 1;
	text-align: center;

}

.header__right {
	float: right;
	width: 35%;
}

.enter {
	text-align: right;
	margin-top: 10px;
	margin-bottom: 12px;
}

.enter__pic {
	display: inline-block;
	vertical-align: top;
}

.enter__go {
	background: url("../images/border.png") 0 bottom repeat-x;
	text-decoration: none;
	display: inline-block;
}

.enter__go--small {
	display: none;
}

.cart {
	float: right;
}

.cart__button {
	border:  1px solid #cecdcd;
	border-radius: 5px;
	background-color: rgba(12, 93, 146, 0);
	padding-bottom: 15px;
	padding-right: 10px;
}

.cart__img {
	margin-left: 15px;
	margin-top: 8px;
	display: inline-block;
	float: left;
	position: relative;
}

.cart__amount {
	width: 19px;
	height: 19px;
	position: absolute;
	top: 0;
	left: 60%;
	transform: translate(-50%, 0);
	border:  1px solid #cecdcd;
	border-radius: 50%;
	text-align: center;
	font-size: 18px;
	color: $redText;
	display: inline-block;
	line-height: 19px;
	background-color: #efefef;

}

.cart__text {
	font-size: 23px;
	font-weight: bold;
	font-style: italic;
	margin-left: 9px;
	display: inline-block;
	padding-top: 10px;
	float: left;
}

.cart__arrow {
	width: 13px;
	height: 12px;
	background-image: url('../images/cart_arrow.png');
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
	margin-top: 23px;
	margin-left: 20px;
}