.stock {
	@extend %clearfix;
	margin-top: 33px;
	padding: 0 10px;
}

.stock__left {
	float: left;
	margin-right: 30px;
}

.stock__right {
	width: 27%;
	float: left;
}

.stockbox__info {
	border-radius: 5px;
	border: 5px solid #689cbe;
}

.stock__block {
	width: 32%;
	padding: 10px 0 0 18px;
	position: absolute;
}

.stock__title {
	font-family: "Century Gothic";
	font-size: 30px;
	font-weight: normal;
	color: $purpleText;
}

.stock_desc {
	font-family: "Century Gothic";
	color: $darkText;
	font-size: 15px;
	width: 63%;
}

.stock__elem {
	margin-bottom: 12px;
}

.stock__image {
	width: 777px;
	height: 242px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../images/stock/tab_2.jpg");
}

.stock__button {
	display: inline-block;
	margin-top: 10px;
	background-image: url("../images/stock/button_stock_big.png");
	width: 275px;
	height: 46px;
	text-align: center;
	line-height: 46px;
	color: #fff !important;
	text-decoration: none;
	font-size: 18px;
}

.stock__title-right {
	color: $redText;
	margin-bottom: 15px;
}

.stock__pic {
	display: inline-block;
	vertical-align: top;
	width: 14%;
	margin-right: 14px;
}

.stock__text {
	display: inline-block;
	width: 80%;
	color: $darkText;
	font-size: 13px;
}

.stock__doplink:hover {
	color: #6611cc;
}

.button--stock {
	margin-left: 0;
	margin-top: 10px;
	width: 130px;
}

.button__link--stock:after {
	display: inline-block;
	content: "";
	background-image: url("../images/arrow_button.png");
	width: 19px;
	height: 12px;
	vertical-align: middle;
	margin-left: 8px;
}